.body {
    background-color: #FFFFFF;
    color: #212121;
}

.list {
    list-style: none;
    color: ;
}

/* основной цвет текста  #212121 */ 
/* вторичный цвет текста #757575 */
/* навигация по сайту */

.site-nav {
    color:#212121 ;
}

.auht-nav, p,a{
    color: #757575;
}

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover {
    color: #2196F3;
}
.auht-nav, .link:hover {
    color: #2196F3;
}


.section-title, .footer-title {
    color:#212121 ;
}

.content{
    background-color: #2F303A;
}
.button{
    color:#FFFFFF ;
    background-color: #2196F3;
    ;
}

.content-tiple{
    color: #FFFFFF
    ;
}
.text-tiple{
    color: #757575;
}
