:root{
    --header-text-color:#212121;
    --second-text-color:#757575;
    --additional-text-color:#2196F3;
    --main-bkg-color:#2F303A;
    --heder-bkg-color:#ffffff;
}

body {
    font-family: Roboto, sans-serif;
}



.list {
    list-style: none;
}


.link {
    text-decoration: none;
}

.header-link:hover{
    color: var(--additional-text-color);
}

.button-nav:hover{
    background-color: var(--additional-text-color);
    color: white;
}



.header-link {
    font-style: normal;
font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--header-text-color);
}


.header-info a {
    font-style: normal;
font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    
}

.header-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    
}
.color-logo{
    color: var(--additional-text-color);
}

.footer-link{
    background-color: var(--main-bkg-color)
}


.header {
    background-color: var(--heder-bkg-color);
}



.content {
    background-color: var(--main-bkg-color);
}

.hiro-text {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.button {
font-family:Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
background-color: var(--additional-text-color);
color: #FFFFFF;

}

.button-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color:var(--header-text-color);





.section-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--header-text-color)
}
   

.section-text{
    font-size: 14px;
line-height: 1.41;
letter-spacing: 0.03em;
color: #757575;
}


.main-comand{
    font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.section-comand>{
    background-color: #E5E5E5;

}


.comyuniti-section{
    background-color: #F5F4FA;;
}



.neame-title{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
color: var(--header-text-color);

}

.neame-text{
    font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-text-color);
}


.content-text{
    font-size: 16px;
line-height: 1.66;
letter-spacing: 0.03em;
color: #757575;

}

.galerey-title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-text-color);
    
}


.footer-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: white;
}

.footer-list{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    
}

.gps-nav {
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;

}