:root{
    --header-text-color:#212121;
    --second-text-color:#757575;
    --additional-text-color:#2196F3;
    --main-bkg-color:#2F303A;
    --heder-bkg-color:#ffffff;
}

body {
    font-family: Roboto, sans-serif;
}



.list {
    list-style: none;
}


.link {
    text-decoration: none;
}

.header-link:hover{
    color: var(--additional-text-color);
}



.header-link {
    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--header-text-color);
}


.header-info a {
    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    
}

.header-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    
}
.color-logo{
    color: var(--additional-text-color);
}

.footer-link{
    background-color: var(--main-bkg-color)
}


.header {
    background-color: var(--heder-bkg-color);
}



.content {
    background-color: var(--main-bkg-color);
}

.content-text {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
.button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background-color: var(--additional-text-color);
    color: var(--heder-bkg-color)
}





.section-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--header-text-color)
}
   

.section-text{
    font-size: 14px;
line-height: 1.41;
letter-spacing: 0.03em;
color: #757575;
}


.main-comand{
    font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.section-comand>{
    background-color: #E5E5E5;

}


.comyuniti-section{
    background-color: #F5F4FA;;
}



.neame-title{
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-text-color);

}

.neame-text{
    font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-text-color);
}


.neame-title{
    font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
color: #212121;
}

.content-text{
    font-size: 16px;
line-height: 1.66;
letter-spacing: 0.03em;
color: #757575;

}
.footer-logo{
    font-family: raleway;

    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: white;
}

.gps-nav {
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;

}