.body {
    background-color: #FFFFFF;
    color: #212121;
}

.list {
    list-style: none;
}

/* основной цвет текста  #212121 */ 
/* вторичный цвет текста #757575 */


/* навигация по сайту */

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover {
    color: #2196F3;
}

.section-title {
    color:#212121 ;
}